body{
    scroll-behavior:smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation-con {
    height: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.7);
}


.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    gap: 5%;
}

.logo{
    width: 128px;
    height: 43.35px;
}

.name-nav{
    font-size: 1.25rem;
    font-weight: 700;
    margin: auto;
    position: relative;
    transform: scaleY(1.5);
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
}

.name-nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: auto;
    cursor: pointer;
    color: black;
    position: relative;
}

.name-nav a:hover{
    color: red;
}

.search-con {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    justify-self: flex-end;
    width: 14vw;
    position: relative;
    background-color: transparent;
}

input {
    width: 100%;
    height: 43px;
    border: none;
    border-radius: 30px;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
}

.search-con >button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    margin-left: auto;
    font-size: 1.7rem;
}

.icon {
    display: none;
}

.icon:hover{
    cursor: pointer;
}

/* Full-Screen Menu Overlay */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: red; /* Red background as shown in the screenshot */
    color: white;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition for visual effects */
    gap: 25px;
    letter-spacing: 1px;
}

.overlay.active {
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    text-align: center;
    z-index: 99;
    font-weight: 800;
}

.icon #mark {
    display: none;
}


.overlay a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 800;
    text-transform: uppercase;
}

.overlay a:hover {
    color: black; /* Highlight effect */
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #e4002b;
    height: 336px;
    gap: 50px;
    width: 100%;
}

.top .blocks{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.blocks .block1, .block2, .block3{
    border: 1px solid white;
    width: 32px;
    height: 44px;
    background-color: white;
}

.top .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 59.6px;
    padding: 0 16px;
}

.top .middle h1{
    font-size: 52px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.top .middle .h1_2{
    color: white;
}

.info1{
    display: flex;
    flex-direction: column;
    margin: 0 183.6px;
    padding: 32px 16px 80px;
    width: auto;
}

.info1 .top_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    height: 20px;
    padding: 0 0 32px;
}

.info1 .top_2 a{
    text-decoration: none;
    color: black;
}

.info1 .top_2 a:hover{
    color: red;
}

.info1 .top_2 p{
    margin: 0;
}

.info1 .top_2 .p1{
    color: red;
}

.info1 .middle{
    display: flex;
    flex-direction: column;
}

.info1 .middle .part1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 48px;
    padding: 0 0 32px;
    width: auto;
}

.info1 .middle .part1 h2{
    font-size: 40px;
    text-transform: uppercase;
    padding: 0 0 16px;
    margin: 0;
}

.info1 .middle .part1 p{
    margin: 0;
    font-size: 24px;
    text-align: center;
    width: auto;
}

.info1 .middle .part2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 85px;
    margin: 0;
    width: auto;
}

.info1 .middle .part2 img{
    width: 100%;
    height: auto;
}

.info1 .middle .part2 .pic1, .pic2, .pic3{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.pic1 p{
    font-size: 24px;
    height: 64px;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0;                                  
}

.pic2 p{
    font-size: 24px;
    height: 96px;
    text-align: center;
    width: auto;
    margin: 0;
}

.pic3 p{
    font-size: 24px;
    height: 64px;
    text-align: center;
    width: auto;
    margin: 0;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 384px;
    background-color: #d0021b; /* Red background */
    color: white;
}
  
.slide1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 156px;
    gap: 5rem;
}
  
.slide1 h1 {
    font-size: 160px;
    margin: 0;
    color: black;
} 

.slide1 p {
    font-size: 36px;
    width: auto;
    height: auto;
    margin: 0;
    font-weight: bold;
}

.slide2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 156px;
    gap: 5rem;
}

.slide2 h1{
    font-size: 160px;
    margin: 0;
    color: black;
}

.slide2 p{
    font-size: 36px;
    width: auto;
    height: auto;
    margin: 0;
    font-weight: bold;
}

.slide3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 156px;
    gap: 5rem;
}

.slide3 h1{
    font-size: 160px;
    margin: 0;
    color: black;
}

.slide3 p{
    font-size: 36px;
    width: auto;
    height: auto;
    margin: 0;
    font-weight: bold;
}

.slide4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 156px;
    gap: 5rem;
}

.slide4 h1{
    font-size: 160px;
    margin: 0;
    color: black;
}

.slide4 p{
    font-size: 36px;
    width: auto;
    height: auto;
    margin: 0;
    font-weight: bold;
}

.dots-arrows {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    padding-top: 40px;
    padding-bottom: 40px;
}
  
.dots-arrows span.prev,
.dots-arrows span.next {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    user-select: none;
    width: 40px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
}

.dots-arrows span.prev:hover,
.dots-arrows span.next:hover {
    background-color: white;
    border-radius: 50%;
    color: #d0021b;
    border: 1px solid white;
}

.dots-arrows .dots {
    display: flex;
    gap: 10px;
}
  
.dots-arrows .dot {
    height: 15px;
    width: 15px;
    background-color: #d0021b;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
}
  
.dots-arrows .dot.active {
    background-color: white;
}

.info2{
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 59.6px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
}

.info2 .part1{
    display: flex;
    flex-direction: column;
    margin: 0 236px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.info2 .part1 h2{
    font-size: 40px;
    margin: 0 0 16px;
    text-align: center;
    padding-top: 80px;
    width: auto;
}

.info2 .part1 p{
    font-size: 24px;
    margin: 0;
    text-align: center;
    width: auto;
    height: auto;
}

.info2 .part2{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: auto;
    gap: 40px;
}

.info2 .part2 .block1{
    border: 0;
    background-color: red;
    width: 40px;
    height: 300px;
}

.info2 .part2 .block2{
    border: 0;
    background-color: red;
    width: 40px;
    height: 300px;
}

.info2 .part2 .block3{
    border: 0;
    background-color: red;
    width: 40px;
    height: 300px;
}

.info3{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    padding: 80px 0;
}

.info3 h2{
    font-size: 40px;
    margin: 0 0 16px;
}

.info3 p{
    font-size: 24px;
    margin: 0;
    width: 864px;
    height: 64px;
}

.info4{
    display: flex;
    flex-direction: column;
    margin: 0 183.6px;
    padding: 80px 16px;
    justify-content: center;
    align-items: center;
    width: auto;
}

.info4 h2{
    font-size: 40px;
    padding: 0 0 32px;
    margin: 0;
}

.info4 .pics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    text-align: center;
    width: auto;
    height: auto;
}

.info4 .pics h3{
    font-size: 30px;
    margin: 0;
    padding: 0 0 16px;
}

.info4 .pics p{
    font-size: 24px;
}

.info4 .pics .pic1 p{
    height: auto;
}

.info4 .pics .pic2 p{
    height: auto;
}

.info4 .pics .pic3 p{
    height: auto;
}
.info4 .pics img{
    width: 100%;
    height: auto;
}

footer{
    width: 100%;
    height: 600px;
    background-color: black;
    position: relative;
}
.red-rod{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50px;
}
.rod{
    width: 30px;
    height: 100%;
    background-color: red;
}
.container-footer{
    width: 79%;
    padding: 0 154px;
}
.container-footer-item{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 30px;
    padding: 0 154px;
    margin: 80px 0;
    align-items: center;
    text-align: left;
}
.itemf{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
ul{
    padding: 0;
}
ul > a > li{
    margin-bottom: 10px;
}
.itemf > ul >  a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.container-footer-item >.itemf > .title-footer{
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile > a{
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.profile > a > .circle{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
}
.policy{
    width: 100%;
    color: white;
    text-align: center;
}
.policy >p > a{
    color: white;
}

@media (min-width:1400px){
    .navigation {
        display: flex;
        width: 1400px;
    }
}

@media screen and (max-width: 1400px) {
    .main{
        margin: auto;
    }
    .container-footer{
        padding: auto;
        padding-right: 0;
    }
    .info2{
        margin: 0;
        padding: 80px 16px;
    }
    .info2 .part1{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .info2 .part1 h2{
        padding: 0;
    }
    .info2 .part2{
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    .navigation-con{
        height: 48px;
    }
    .logo{
        width: 64px;
        height: 24.1px;
    }

    .name-nav,
    .search-con {
        display: none; /* Hide when screen size is below 1400px */
    }

    .icon{
        display: block;
        font-size: 1.25em;
    }

    i:last-child{
        display: none;
    }
    footer{
        height: auto;
    }
    .title-footer::after {
        content: '\25BC'; /* Down arrow */
        font-size: 12px;
        color: #fff;
        transition: transform 0.3s;
    }
    .title-footer.open::after {
        transform: rotate(-180deg); /* Flip arrow */
    }
    
    .container-footer{
        padding: 0;
        width: 100%;
    }
    .container-footer-item{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
        padding-right: 0;
        gap: 0;
        margin: 20px 0;
        margin-right: 0;
        width: auto;
    }
    .itemf{
        width: 97%;
        height: 25%;
        padding:13px 0px 7px 0px;
        border-top: 2px solid white;
        align-items: center;
        margin: 0;
    }
    .itemf:last-child{
        border-bottom: 2px solid white;
    }
    .title-footer{
        width: 100%;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    .itemf > .title-footer:hover{
        color: red;
    }
    .title-footer:hover::after {
        color: red;
    }
    .container-footer-item > .itemf > .list{
        display: none;
        width: 100%;
    }
    .profile{
        margin: 0;
    }
    .profile > a > .circle{
        width: 50px;
        height: 50px;
    }
    .profile > a > .circle > h1{
        font-size: 36px;
    }
    .policy{
        width: 400px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 20px;
        width: auto;
    }
    .main{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .container-footer-item {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .info1 .top_2{
        padding-top: 32px;
    }
    .info1 {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .info1 .middle{
        display: flex;
        flex-direction: column;
    }

    .info1 .middle .part2{
        display: grid;
        grid-template-columns: auto;
    }
    .slide1, .slide2, .slide3, .slide4{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 0;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .slide1, .slide2, .slide3, .slide4 p{
        width: auto;
        height: auto;
    }
    .slide1 p{
        font-size: 28px;
    }
    .slide2 p{
        font-size: 28px;
    }
    .slide3 p{
        font-size: 28px;
    } 
    .slide4 p{
        font-size: 28px;
    }
    .info4{
        margin: 0;
    }
    .info4 .pics{
        display: grid;
        grid-template-columns: auto;
    }
    .info4 .pics p{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .navigation-con {
        height: 48px;
    }

    .logo {
        width: 50px;
    }

    .overlay a {
        font-size: 1em;
    }

    .pics button {
        width: 100px;
    }

    .policy {
        width: auto;
        font-size: 14px;
    }
    .body{
        margin: 0;
        padding: 0;
    }
}