body{
    scroll-behavior:smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation-con {
    height: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.7);
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    gap: 5%;
}

.navigation-con > .navigation > a >  .logo{
    width: 128px;
    height: 32.35px;
}

.name-nav{
    font-size: 1.25em;
    font-weight: bold;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-align: center;
}

.name-nav a {
    transform: scaleY(1.3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: auto;
    cursor: pointer;
    color: black;
    position: relative;
}

.name-nav a:hover{
    color: rgb(196, 15, 15);
}

.search-con {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: auto;
    width: 14vw;
    position: relative;
    background-color: white;
}

input {
    width: 100%;
    height: 4vh;
    border: none;
    border-radius: 25px;
}

button {
    background-color: transparent;
    border: none;
}

.icon {
    display: none;
}

.icon:hover{
    cursor: pointer;
}

/* Full-Screen Menu Overlay */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: red; /* Red background as shown in the screenshot */
    color: white;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition for visual effects */
    gap: 5px;
}

.overlay.active {
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    text-align: center;
    z-index: 99;
}

.icon > #mark {
    display: none;
}


.overlay a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

.overlay a:hover {
    color: black; /* Highlight effect */
}

.overlay a:first-child{
    color: black;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.top img{
    width: 100%;
    height: auto;
}

.top h1{
    font-size: 52px;
    position: absolute;
    color: white;
    text-transform: uppercase;
    padding: 0 16px;
    transform: scaleY(1.3);
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0 183.6px;
    padding: 32px 16px;
}

.info1{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.info1 .top_info1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    margin-right: 77.3%;
    width: 100%;
}

.info1 .top_info1 a{
    text-decoration: none;
    color: black;
}

.info1 .top_info1 a:hover{
    color: red;
}

.info1 .top_info1 .top_p1{
    color: red;
}

.info1 h2{
    font-size: 28px;
    margin: 0;
    padding: 32px 0;
    text-transform: uppercase;
    transform: scaleY(1.3);
    font-weight: bold;
}

.info1 .top_p2{
    font-size: 20px;
    margin: 0;
}

.info1 .pics_info1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 0;
}

.info1 .pics_info1 img{
    width: 100%;
    height: auto;
}

.info2{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.info2 h3{
    font-size: 24px;
    padding: 0 0 32px;
}

.info2 .pics_info2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    width: 100%;
    height: auto;
}

.info2 .pics_info2 h3{
    font-size: 16px;
    padding: 16px 0 0;
}

.info2 .pics_info2 img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    object-fit: cover;
}

.pics_info2 .img1, .img2, .img3, .img4, .img5, .img6{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: auto;
    height: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: auto;
    height: 100vh;
    overflow: auto;
    background-color: rgba(221, 220, 220, 0.2);/* Black background with opacity */
}

.modal-content {
    position: relative;
    background-color: white;
    margin: 10% auto;
    border-radius: 40px;
    width: 50%;
    color: black;
}

.modal-content img {
    width: 768px;
    height: 537.6px;
    border: none;
    border-radius: 40px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.modal-content .top{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.info_modal1{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal1 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal1 p{
    font-size: 20px;
    margin: 0;
    height: 140px;
}

.modal-content .top .close-button{
    border: none;
    border-radius: 50%;
    background-color: red;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 90%;
    position: absolute;
    margin-bottom: 60%;
}

.modal-content i{
    width: 16px;
    height: 16px;
    color: white;
    margin-left: 14px;
}

.close-button {
    cursor: pointer;
}

.info_modal2 button{
    border: none;
    border-radius: 40px;
    background-color: red;
    width: 169.01px;
    height: 40px;
    font-size: 14px;
    margin: 32px 0 0;
}

.info_modal2 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.info_modal2{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal2 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal2 p{
    font-size: 20px;
    margin: 0;
    height: 196px;
}

.info_modal3{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal3 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal3 p{
    font-size: 20px;
    margin: 0;
    height: 224px;
}


.info_modal4{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal4 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal4 p{
    font-size: 20px;
    margin: 0;
    height: 168px;
}

.info_modal4 button{
    border: none;
    border-radius: 40px;
    background-color: red;
    width: 169.01px;
    height: 40px;
    font-size: 14px;
    margin: 32px 0 0;
}

.info_modal4 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.info_modal5{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal5 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal5 p{
    font-size: 20px;
    margin: 0;
    height: 196px;
}

.info_modal6{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal6 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal6 p{
    font-size: 20px;
    margin: 0;
    height: 252px;
}

.info_modal6 button{
    border: none;
    border-radius: 40px;
    background-color: red;
    width: 169.01px;
    height: 40px;
    font-size: 14px;
    margin: 32px 0 0;
}

.info_modal6 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.info_modal7{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal7 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal7 p{
    font-size: 20px;
    margin: 0;
    height: 196px;
}

.info_modal8{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal8 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal8 p{
    font-size: 20px;
    margin: 0;
    height: 168px;
}

.info_modal9{
    display: flex;
    flex-direction: column;
    margin: 0 48px;
    padding: 56px 32px;
}

.info_modal9 h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 16px;
    transform: scaleY(1.3);
}

.info_modal9 p{
    font-size: 20px;
    margin: 0;
    height: 140px;
}

.info_modal9 button{
    border: none;
    border-radius: 40px;
    background-color: red;
    width: 169.01px;
    height: 40px;
    font-size: 14px;
    margin: 32px 0 0;
}

.info_modal9 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.info3{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.info3 h3{
    font-size: 24px;
    padding: 0 0 32px;
    margin: 0;
}

.info3 .pics_info3 h3{
    font-size: 16px;
    padding: 16px 0 0;
}

.pics_info3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    height: auto;
}

.pics_info3 img{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
}

.info4{
    display: flex;
    flex-direction: column;
    padding: 80px 16px;
    width: auto;
    height: auto;
}

.info4 h2{
    font-size: 38px;
    padding: 32px 0;
    margin: 0;
    text-transform: uppercase;
    transform: scaleY(1.3); 
}

.grid_info4{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.p1_info4{
    font-size: 20px;
    width: 100%;
    height: 190px;
}

.p1_info4 .p1{
    margin: 0 0 25px;
}

.p1_info4 .p2{
    margin: 25px 0;
}

.p1_info4 .p3{
    margin: 25px 0 0;
}

.p2_info4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 140px;
    font-size: 20px;
    gap: 50px;
}

.pics_info4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 16px 0 0;
    gap: 30px;
}

.pics_info4 img{
    width: 100%;
    height: auto;
}

footer{
    width: 100%;
    height: 600px;
    background-color: black;
    position: relative;
}
.red-rod{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50px;
}
.rod{
    width: 30px;
    height: 100%;
    background-color: red;
}
.container-footer{
    width: 79%;
    padding: 0 154px;
}
.container-footer-item{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 30px;
    padding: 0 154px;
    margin: 80px 0;
    align-items: center;
    text-align: left;
}
.itemf{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
ul{
    padding: 0;
}
ul > a > li{
    margin-bottom: 10px;
}
.itemf > ul >  a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.container-footer-item >.itemf > .title-footer{
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile > a{
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.profile > a > .circle{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
}
.policy{
    width: 100%;
    color: white;
    text-align: center;
}
.policy >p > a{
    color: white;
}

@media (min-width:1400px){
    .navigation {
        display: flex;
        width: 1400px;
    }
}

@media screen and (max-width: 1400px) {
    .container-footer{
        padding: auto;
        padding-right: 0;
    }

    .main{
        margin: auto;
        padding: auto;
    }
    .pics_info2{
        width: auto;
        height: auto;
    }

    .pics_info3{
        width: auto;
        height: auto;
    }

    .info1{
        width: auto;
    }

    .info4 .p1_info4, .p2_info4{
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .navigation-con{
        height: 48px;
    }
    .logo{
        width: 64px;
        height: 24.1px;
    }

    .name-nav,
    .search-con {
        display: none; /* Hide when screen size is below 1400px */
    }

    .icon{
        display: block;
        font-size: 1.25em;
    }

    i:last-child{
        display: none;
    }

    footer{
        height: auto;
    }
    .title-footer::after {
        content: '\25BC'; /* Down arrow */
        font-size: 12px;
        color: #fff;
        transition: transform 0.3s;
    }
    .title-footer.open::after {
        transform: rotate(-180deg); /* Flip arrow */
    }
    
    .container-footer{
        padding: 0;
        width: 100%;
    }
    .container-footer-item{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
        padding-right: 0;
        gap: 0;
        margin: 20px 0;
        margin-right: 0;
        width: auto;
    }
    .itemf{
        width: 97%;
        height: 25%;
        padding:13px 0px 7px 0px;
        border-top: 2px solid white;
        align-items: center;
        margin: 0;
    }
    .itemf:last-child{
        border-bottom: 2px solid white;
    }
    .title-footer{
        width: 100%;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    .itemf > .title-footer:hover{
        color: red;
    }
    .title-footer:hover::after {
        color: red;
    }
    .container-footer-item > .itemf > .list{
        display: none;
        width: 100%;
    }
    .profile{
        margin: 0;
    }
    .profile > a > .circle{
        width: 50px;
        height: 50px;
    }
    .profile > a > .circle > h1{
        font-size: 36px;
    }
    .policy{
        width: 400px;
        margin: auto;
    }

    .top_info1{
        width: auto;
        margin: auto;
    }

    .grid_info4{
        gap: auto;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 20px;
        width: auto;
    }

    .container-footer-item {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .top img{
        width: 100%;
        height: auto;
    }

    .top h1{
        font-size: 28px;
    }

    .main{
        margin: auto;
    }

    .info1 h2{
        padding: 16px 0;
    }

    .info4 h2{
        padding: 16px 0;
    }

    .info2 .pics_info2{
        display: grid;
        grid-template-columns: auto;
    }

    .pics_info4{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .info3 .pics_info3{
        display: grid;
        grid-template-columns: auto;
    }

}

@media screen and (max-width: 480px) {
    .info4{
        width: auto;
        height: auto;
    }
    .info4 .grid_info4{
        height: auto;
    }
    .info4 .pics_info4{
        margin-top: 0;
    }

}