body{
    scroll-behavior:smooth;
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation-con {
    height: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.7);
}


.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    gap: 5%;
}

.logo{
    width: 128px;
    height: 43.35px;
}

.name-nav{
    font-size: 1.25rem;
    font-weight: 700;
    margin: auto;
    position: relative;
    transform: scaleY(1.5);
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
}

.name-nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: auto;
    cursor: pointer;
    color: black;
    position: relative;
}

.name-nav a:hover{
    color: red;
}

.search-con {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    justify-self: flex-end;
    width: 14vw;
    position: relative;
    background-color: transparent;
}

input {
    width: 100%;
    height: 43px;
    border: none;
    border-radius: 30px;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
}

.search-con >button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    margin-left: auto;
    font-size: 1.7rem;
}

.icon {
    display: none;
}

.icon:hover{
    cursor: pointer;
}

/* Full-Screen Menu Overlay */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: red; /* Red background as shown in the screenshot */
    color: white;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition for visual effects */
    gap: 25px;
    letter-spacing: 1px;
}

.overlay.active {
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    text-align: center;
    z-index: 99;
    font-weight: 800;
}

.icon #mark {
    display: none;
}


.overlay a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 800;
    text-transform: uppercase;
}

.overlay a:hover {
    color: black; /* Highlight effect */
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 80px;
    width: 100%;
    background-color: #f6f5f5;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 510px;
}

.top h1{
    font-size: 52px;
    position: absolute;
    color: white;
    text-transform: uppercase;
    transform: scaleY(1.3);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 2;
}

.top-bg{
    aspect-ratio: auto;
    height: 510px;
    position: relative;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.614), transparent);
}

.top-bg img {
    width: 100%;
    height: 100%;
    color: transparent;
    object-fit: cover;
}

.top1{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
}

.top1-con {
    max-width: 70rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    font-size: 0.75rem;
}

ol li a:first-child {
    color: black;
    text-decoration: none;
}

ol li a:hover {
    color: rgb(196, 15, 15);
}

ol li:last-child {
    color: red;
}


.info1{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.info1-con {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.info1-con p{
    font-size: 1.25rem;
}

.p2_info1 .p2{
    width: auto;
    margin: 25px 0 0;
}

.info2{
    width: 100%;
    gap: 50px;
    overflow: hidden;
}

.info2-con {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.info2 .part1{
    display: flex;
    flex-direction: column;
}

.info2 .part1, .info2 .part2 {
    flex: 1; /* Allow flex items to grow */
    min-width: 300px; /* Prevent items from being too small */
}

.info2 .part1 h2{
    width: auto;
    font-size: 48px;
    padding: 0 0 32px;
    text-transform: uppercase;
    margin: 0;
}

.info2 .part1 p{
    font-size: 20px;
    width: auto;
    margin: 0;
}

.info2 .part1 .p1{
    margin: 0;
    height: auto;
}

.info2 .part1 .p2{
    margin: 25px 0;
    height: auto;
}

.info2 .part1 .p3{
    margin: 0;
    height: auto;
}

.info2-con .part2{
    display: flex;
    flex: none;
    aspect-ratio: 4/3;
    overflow: hidden;
    position: relative;
}

.info2 .part2 img{
    width: 100%;
    height: 336px;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
}

.line1, .line2{
    border: 1px solid black;
    max-width: 70rem;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.info3 {
    width: 100%;
    overflow: hidden;
}

.info3-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1.25rem;
    margin: auto;
}

.info3-con .part1{
    flex: 1; 
}

.info3 .part1{
    display: flex;
    flex-direction: column;
}

.info3 .part1 h2{
    font-size: 48px;
    text-transform: uppercase;
    padding: 0 0 32px;
    margin: 0;
    width: auto;
    height: auto;
}

.info3 .part1 .p1{
    font-size: 20px;
    margin-top: 0;
    width: auto;
}

.info3 .part1 .p2{
    font-size: 20px;
    margin: 25px 0;
    margin-top: 0;
    width: auto;
}

.info3 .part1 ul{
    margin: 25px 0 0;
    padding: 0;
    height: 316px;
    max-width: 616px;
    width: 100%;
}

.li1, .li2, .li3, .li4, .li5{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0.375rem;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.circle1, .circle2, .circle3, .circle4, .circle5{
    flex: none;
    align-items: center;
    justify-content: center;
    color: white;
    width: 2.5rem;
    background-color: rgb(196, 15, 15);
    height: 2.5rem;
    position: relative;
    border-radius: 50%;
}

.fa-check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.info3 .part2{
    display: flex;
    align-self: center;
}

.info3 .part2 img{
    width: 100%;
    height: 336px;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
}

.info4 {
    width: 100%;
    overflow: hidden;
}

.info4-con {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.info4 .part1 {
    flex: 1; /* Allow flex items to grow */
    min-width: 300px;
}

.info4 .part1{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.info4 .part1 h2{
    font-size: 48px;
    padding: 0 0 32px;
    text-transform: uppercase;
    margin: 0;
}

.info4 .part1 p{
    width: auto;
    font-size: 20px;
    width: auto;
}

.info4 .part1 .p1{
    width: auto;
    margin: 0 0 25px;
    height: auto;
}

.info4 .part1 .p2{
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
}

.info4 .part1 .p3{
    width: auto;
    margin-bottom: 0;
    height: auto;
}

.info4-con .part2{
    position: relative;
    border-radius: 20px;
    aspect-ratio: 4/3;
}

.info4 .part2 img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
    border-radius: 20px !important;
}

footer{
    width: 100%;
    height: 600px;
    background-color: black;
    position: relative;
}
.red-rod{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50px;
}
.rod{
    width: 30px;
    height: 100%;
    background-color: red;
}
.container-footer{
    width: 79%;
    padding: 0 154px;
}
.container-footer-item{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 30px;
    padding: 0 154px;
    margin: 80px 0;
    align-items: center;
    text-align: left;
}
.itemf{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
ul{
    padding: 0;
}
ul > a > li{
    margin-bottom: 10px;
}
.itemf > ul >  a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.container-footer-item >.itemf > .title-footer{
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile > a{
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.profile > a > .circle{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
}
.policy{
    width: 100%;
    color: white;
    text-align: center;
}
.policy >p > a{
    color: white;
}

@media (min-width:1400px){
    .navigation {
        display: flex;
        width: 1400px;
    }

    main {
        width: 1400px;
    }
}

@media screen and (max-width: 1400px) {
    .container-footer{
        padding: auto;
        padding-right: 0;
    }

}

@media screen and (max-width: 1023px) {
    .navigation-con{
        height: 48px;
    }
    .logo{
        width: 64px;
        height: 24.1px;
    }

    .name-nav,
    .search-con {
        display: none; /* Hide when screen size is below 1400px */
    }

    .icon{
        display: block;
        font-size: 1.25em;
    }

    footer{
        height: auto;
    }
    .title-footer::after {
        content: '\25BC'; /* Down arrow */
        font-size: 12px;
        color: #fff;
        transition: transform 0.3s;
    }
    .title-footer.open::after {
        transform: rotate(-180deg); /* Flip arrow */
    }
    
    .container-footer{
        padding: 0;
        width: 100%;
    }
    .container-footer-item{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
        padding-right: 0;
        gap: 0;
        margin: 20px 0;
        margin-right: 0;
        width: auto;
    }
    .itemf{
        width: 97%;
        height: 25%;
        padding:13px 0px 7px 0px;
        border-top: 2px solid white;
        align-items: center;
        margin: 0;
    }
    .itemf:last-child{
        border-bottom: 2px solid white;
    }
    .title-footer{
        width: 100%;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    .itemf > .title-footer:hover{
        color: red;
    }
    .title-footer:hover::after {
        color: red;
    }
    .container-footer-item > .itemf > .list{
        display: none;
        width: 100%;
    }
    .profile{
        margin: 0;
    }
    .profile > a > .circle{
        width: 50px;
        height: 50px;
    }
    .profile > a > .circle > h1{
        font-size: 36px;
    }
    .policy{
        width: 400px;
        margin: auto;
    }

    .info2-con {
        flex-direction: column;
    }

    .info2-con .part2 {
        width: 100%;
    }

    .info3-con, .info4-con{
        display: flex;
        flex-direction: column;

    }
    .info3 .part1{
        width: 100%;
        max-width: none;
    }
    .info3 .part1 ul{
        max-width: none;
    }
    .info2 .part2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info3 .part2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 767px) {
    .name-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-con {
        width: 90%; /* Expand search bar for small screens */
    }

    .icon {
        font-size: 1.5rem;
        display: block; /* Show icon for smaller screens */
    }

    .name-nav,
    .search-con {
        display: none; /* Hide large screen elements */
    }

    footer {
        padding: 20px;
        width: auto;
    }

    .container-footer-item {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .main{
        margin: auto;
    }

    .top h1{
        font-size: 20px;
    }

    .top-bg {
        aspect-ratio: 4/3;
    }

    p {
        font-size: 1.15rem !important;
    }

    li {
        font-size: 1.15rem !important;
    }
}

@media screen and (max-width: 480px) {

    .pics button {
        width: 100px;
    }

    .policy {
        width: auto;
        font-size: 14px;
    }
    .body{
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1280px) {
    .info2-con{
        gap: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .info2-con {
        gap: 2.5rem;
        flex-wrap: nowrap;
    }

    .info2-con .part2, .info3-con .part2, .info4-con .part2, .info5-con .part2, .info{
        width: 40% ;
    }
}